body {
    background-color: gray;
    color: white;
}

div.cell {
    width: 10px;
    height: 10px;
    background-color: white;
}

div.cell:hover {
    background-color: gray;
}

div.cell-on {
    background-color: black;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}
